
<div class="row">
  <div class="container">
    <div class="col-md-4">
      <div class="panel">
        <div class="panel__head">
          <span class="panel__title">Information</span>
        </div>
        <div class="panel__content">
          <p class="panel__text">Hey! You can create users, try it!</p>
          <a class="button" href="<%= users_path %>">Back to users</a>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <%= render 'form' %>
    </div>
  </div>
</div>
