
  <div class="row">
    <div class="container">
      <div class="col-md-12">
        <div class="panel">
          <div class="panel__head">
            <span class="panel__title">Users</span>
          </div>
          <div class="panel__content">
            <p class="panel__text">
              Learn more about LearnRails users!
            </p>
            <a class="button" href="<%= users_path %>">More information</a>
          </div>
        </div>
      </div>
    </div>
  </div>
