/**
 LearnRails
 Theme variables.

 Disclaimer: Color selection might not be the
 best election, designer not found.

 Version: 0.0.1
*/

$primary_darkblue: #021B21;
$primary_lightblue: #053F4C;
$primary_softblue: #225D70;
$primary_white: #FFFFFF;
$primary_gray: #E9E9E9;
$primary_red: #FF291C;


$dark_mustard: #f0ac0f;
$mustard: #f1d188;

$dark_red: #de130c;
$red: #fe0224;

$dark_green: #4f9e09;
$green: #4cad17;